# Python virtual environment
venv/

# Compiled Python files
*.pyc

# Cached files
__pycache__/

# Streamlit cache directory
.cache/

# Streamlit stub files
*.pyi

# macOS-specific metadata files
.DS_Store
